.DS_Store
Icon?
.idea/
.vscode/
*.log

frontend/.angular/
frontend/dist/
frontend/node_modules/

backend/.env
backend/.venv/
backend/**/__pycache__/
backend/*.sqlite3
backend/.pytest_cache/
backend/.ruff_cache/

simulation/.venv/
simulation/**/__pycache__/
